{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block body %}


<div class="container text-center">
    <div class="container">
        <br />
            <p> Hide sessions without a selected class </p>
            <label class="switch">
                <input id="filteroo" type="checkbox">
                <span class="slider"></span>
        </div>
        <table id="table_id" style="margin-top:2rem;" class="table tablez table-striped table-dark table-sm">
            <thead>
                <tr>
                    <th>Selected Class</th>
                    <th>SessionID</th>
                    <th>Answer Pattern</th>
                </tr>
            </thead>
            <tbody>
                {% for session in sessions %}
                <tr>
                    <td>
                        <a href="{{ url_for('views.session_view', session=session.id) }}">
                            {{ session.selected_class.class_id}} {{ session.selected_class.class_name or None}}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('views.session_view', session=session.id) }}">
                            {{ session.session_ident }}</td>
                    </a>
                    <td>
                        <a href="{{ url_for('views.session_view', session=session.id) }}">
                            {{ session.answered_questions_string() }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script async defer type="text/javascript">
    $(document).ready(function () {
        $('.tablez').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "pageLength": 25,
            "order": [[0, "desc"]]
        });
    });
</script>
<script async defer type="text/javascript">
    $(document).ready(function () {
        var table = $('#table_id').DataTable();
        $("#filteroo").click(function () {
            if ($("#filteroo").is(':checked'))
                table
                    .columns(0)
                    .search('^((?!None).)*$', true, false)
                    .draw();
            else
                table
                    .columns(0)
                    .search('')
                    .draw();
        });
    });
</script>
{% endblock %}